@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
}
section{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.dashboard{
    display: grid;
    grid-template-columns: auto 1fr 150px;
    position: sticky;
    background-color: white;
    top: 0;
    max-width: 100vw;
    height: max-content;
    z-index: 1;
    padding:10px 25px;
}
.icons{
    display: flex;
    gap:20px;
    align-items: center;
}
.hover{
    padding: 9px;
    border-radius: 50%;
}
.hover1{
    padding: 10px;
    border-radius: 50%;
}
.hover:hover,.hover1:hover{
    background-color: rgb(229,229,229);
}
.youtubeico{
    display: flex;
    align-items: flex-start;
    gap: 5px;
    width: fit-content;
    height: fit-content;
}
.youtubeico p{
    font-size: 10px;
    position: relative;
}
.bi-list1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    font-weight: 100;
    font-size: 32px;
}
.searchbar{
    width: 65%;
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid rgb(198,198,198);
    border-radius: 40px;
    padding-left: 16px;
}
.searchbar input{
    border: none;
    height: 100%;
    width: 90%;
    padding-right: 10px;
    outline: none;
}
.searchbar:focus-within .none{
    display: flex;
    margin-right: 10px;
}
.mid{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.bi-mic-fill{
    font-size: 20px;
    padding: 10px;
    background-color: rgb(249,249,249);
    border-radius: 50%;
    cursor: pointer;
}
.bi-mic-fill:hover{
    background-color: rgb(198,198,198);
}
.search{
    background-color: rgb(248,248,248);
    border-left: 1px solid rgb(198,198,198);
    border-radius: 0px 40px 40px 0px;
    width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.search:hover{
    background-color: rgb(240, 240, 240);
}
.bi-search{
    font-size: 16px;
}
.bi-camera-video,.bi-bell{
    font-size: 20px;
}
.none{
    display: none;
}
.searchbar input::placeholder{
    font-size: 16px;
    font-weight: 100;
}
.user{
    display: flex;
    align-items: center;
    gap:5px;
}
.userpic{
    border-radius: 50%;
    width: 32px;
    height: 32px;
}
.rect{
    display: flex;
    gap:20px;
    height: 40px;
    padding-left: 20px;
    align-items: center;
    width: 210px;
    border-radius: 10px;
}
.selected:nth-child(1){
    background-color: rgb(240, 240, 240);
}
.rect:hover{
    background-color: rgb(240, 240, 240);
}
.top{
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(229,229,229);
}
.content{
    display: grid;
    max-width: 100vw;
    grid-template-columns: auto 1fr;
    max-height: 90vh;
}
.sidebarcont{
    max-height: 90vh;
    width: 240px;
    background-color: white;
    z-index: 1;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}
.sidebarcont:hover,.sidebarcont1:hover{
    overflow-y: scroll;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background: rgb(144,144,144);
    border-radius: 10px;
}
.rectpic{
    font-size: 20px;
}
.rect p{
    font-size: 14px;
    line-height: 20px;
    color: rgb(15,15,15);
}
.sidebar{
    padding-left: 10px;
}
.middle{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(229,229,229);
}
.short{
    width: 20px;
    height: 30px;
}
.bi-play-fill{
    font-size: 16px;
    height: 21px;
    width: 21px;
    text-align: center;
    border: 1px solid black;
}
.subs{
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.bmiddle{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(229,229,229);
}
.subsheading{
    color: rgb(15,15,15);
    font-size: 16px;
    padding-left: 20px;
    line-height: 20px;
    padding-bottom: 10px;
}
.ytkids{
    transform: rotate(350deg);
}
.bi-gear{
    font-size: 18px;
}
.bottom{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 0px;
}
.bottom a{
    text-decoration: none;
    color: rgb(98,98,98);
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
}
.bottom p{
    font-size: 13px;
    color: rgb(144,144,144);
}
.maincont{
    max-height: 90vh;
    position: relative;
    overflow-y: auto;
    width: 100%;
}
.menu{
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
    overflow-x: scroll;
    z-index: 10;
    gap: 10px;
    position: sticky;
    top: 0;
    background-color: white;
    padding-bottom: 10px;
    padding-left: 10px;
}
.menu a{
    text-decoration: none;
    padding: 10px 14px;
    background-color: rgb(242,242,242);
    color:rgb(15,15,15);
    font-size: 14px;
    letter-spacing: 0.2px;
    border-radius: 10px;
}
.menu a:nth-child(1){
    background-color: black !important;
    color: white;
}
.menu a:hover{
    background: rgb(229,229,229);
    transition: .5s;
}
.topcont{
    width: 100%;
    height: fit-content;
    display: flex;
    padding: 30px;
}
.firstcont{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.firstcont a{
    border-radius: 50px;
    padding: 10px;
    width: fit-content;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    border:1px solid blue;
}
.firstcont a:hover{
    background-color: rgb(229,229,229);
}
.firstcont img{
    max-width: 320px;
    height: 24px;
}
.firstcont h1{
    font-size: 36px;
    line-height: 50px;
    font-weight: 700;
}
.secondcont{
    display: flex;
    width: 45%;
}
.secondcont img{
    width: 100%;
    height:100%;
}
.exit{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.secondcont i{
    font-size: 23px;
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 20px;
    background-color: rgb(102,102,102);
}
.secondcont i:hover{
    background-color: rgb(178,178,178);
}
.videos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    row-gap: 40px;
    padding: 0px 20px;
    padding-bottom: 20px;
}
.videos:nth-child(2){
    border-bottom: 5px solid rgb(229,229,229);
}
.videos:nth-child(4){
    border-top: 5px solid rgb(229,229,229);
    padding-top: 30px;
}
.videocard img{
    border-radius: 20px;
    width: 100%;
    height: 162.58px;
}
.info img{
    border-radius: 50%;
}
.videocard{
    margin: 0px auto;
    width: 100%;
}
.info{
    display: flex;
    gap: 10px;
}
.info img{
    width: 36px;
    height: 36px;
}
.title{
    display: flex;
    flex-direction: column;
}
.title p{
    color: rgb(96,96,96);
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}
.title p:nth-child(1){
    font-size: 14px;
    line-height: 20px;
    color: rgb(15,15,15);
    font-weight: 500;
}
.slides{
    display: flex;
    gap: 10px;
    margin: 0px auto;
    padding-left: 20px;
    align-items: center;
}
.slide{
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 400px;
}
.slide img{
    width: 163.66px;
    height: 289.66px;
    border-radius: 10px;
}
.slide a{
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: rgb(15,15,15);
    text-decoration: none;
}
.slide p{
    color: rgb(96,96,96);
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}
.shorts{
    overflow-x: scroll;
}
.fixed{
    position: sticky;
    left:0;
}
.cont{
    display: flex;
    flex-direction: column;
}
.cont a{
    text-decoration: none;
}
.shorts::-webkit-scrollbar-thumb{
    background: none;
}
.menu::-webkit-scrollbar-thumb{
    background: none;
}
.minisidebar{
    position: absolute;
    width:90px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-height: 90vh;
}
.rect2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 74px;
    width: 64px;
}
.rect2 p{
    font-size: 10px;
    line-height: 14px;
    color: rgb(15,15,15);
    font-weight: 400;
}
.rect2:hover{
    background-color: rgb(229,229,229);
    border-radius: 10px;
    padding: 0px 30px;
}
.mainvideo{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    gap: 0px;
}
.dark{
    overflow-y: auto;
}
.dim{
    position: absolute;
    width:200vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    z-index: 100;
    display: none;
    animation-name: opaque;
    animation-duration: .5s;
    background-color: rgba(0,0,0,0.5);
}
@keyframes opaque{
    0%{
        opacity:0;
    }
    100%{
        opacity: 1;
    }
}
.leftvideo{
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 15px;
    justify-content: flex-start;
    width: 35%;
}
.dark .leftvideo .videocard{
    display: flex;
    width: 70%;
    margin: 0;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
    align-items: flex-end;
}
.dark .videocard img{
    border-radius: 10px;
    width: 168px;
    height: 100%;
}
.dark .title{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.prodlogo{
    height: 100%;
    width: 100%;
}
.creator{
    padding: 0px 30px;
    gap: 15px;
    width: 70%;
    display: flex;
    flex-direction: column;
}
iframe{
    background-color: white;
    width: 100%;
}
.topcreator{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}
.comm .title h2{
    font-size: 16px;
    font-weight: 400;
}
.like1{
    display: flex;
    align-items: center;
    gap: 20px;
}
.comments{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.comm{
    display: flex;
    gap: 20px;
    align-items: flex-start;
}
.comm img{
    width: 35px;
    border-radius: 50%;
}
.comm .title{
    gap: 5px;
}
.likes{
    display: flex;
    gap: 10px;
    width: 50%;
    justify-content: flex-end;
}
.channel{
    display: flex;
    align-items: center;
    gap: 20px;
}
.channel img{
    height: 60px;
    border-radius: 50%;
}
.channel .title{
    gap: 5px;
}
.channel a{
    padding: 10px 20px;
    font-weight: 600;
    text-decoration: none;
    font-size: 14px;
    background-color: black;
    border-radius: 50px;
    color: white !important;
}
.like:nth-child(1){
    gap: 10px;
}
.like .bi{
    font-size: 18px;
}
.like .bi-hand-thumbs-up{
    border-right: 1px solid rgb(198,198,198);
    padding-right: 10px;
}
.creator h2{
    font-size: 20px;
    font-weight: 500;
    color: rgb(15,15,15);
}
.channel .title h2{
    font-size: 16px;
    font-weight: 500;
}
.like{
    display: flex;
    align-items: center;
    padding: 10px 15px;
    gap: 10px;
    border-radius: 20px;
    background-color: rgb(229,229,229);
}
.like img{
    width: 20px;
}
.top a,.dark a{
    text-decoration: none;
    color: rgb(15,15,15);
}
.sidebarcont1{
    z-index: 1000;
    position: fixed;
    left: 0;
    top: 0;
    bottom:0;
    max-height: 90vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 0;
    transition: .2s;
}
.sidebarcont1 .icons{
    padding: 10px 0px;
}
.list-two{
    display: none;
}
@media only screen and (max-width:1300px){
    .list-two{
        display: block;
    }
    .list-one{
        display: none;
    }
    .sidebarcont{
        display: none !important;
    }
    .minisidebar{
        display: flex;
        position: static;
        padding-left: 0;
    }
    .content{
        grid-template-columns: 85px 1fr;
        overflow: hidden;
    }
    .dark .leftvideo .videocard{
        width: 100%;
    }
}
@media only screen and (max-width:1200px){
.comments{
    display: none;
}
.likes{
    margin-top: 10px;
}
.creator{
    width: 100%;
    padding: 0;
}
.leftbar{
    width: 100%;
}
.mainvideo{
    padding-left: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
}
@media only screen and (max-width:768px){
    .content{
        grid-template-columns: auto;
    }
    .likes{
        width: 100%;
        justify-content: flex-start;
    }
    .searchbar{
        border: none;
    }
    .searchbar .search{
        background: none;
        border: none;
    }
    .videocard img{
        border-radius: 10px;
        height: 80%;
    }
    .info img{
        border-radius: 50%;
    }
    .searchbar input{
        display: none;
    }
    .minisidebar{
        display: none;
    }
    .content{
        width: fit-content;
    }
    .topcont{
        display: none;
    }
}
