@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
}
.dashboard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    height: max-content;
    z-index: 1;
    background-color:white;
    padding:10px 25px;
    padding-right: 40px;
}
.icons{
    display: flex;
    gap:20px;
    align-items: center;
}
.hover{
    padding: 9px;
    border-radius: 50%;
}
.hover1{
    padding: 10px;
    border-radius: 50%;
}
.hover:hover,.hover1:hover{
    background-color: rgb(229,229,229);
}
.youtubeico{
    display: flex;
    align-items: flex-start;
    gap: 5px;
    width: fit-content;
    height: fit-content;
}
.youtubeico p{
    font-size: 10px;
    position: relative;
}
.bi-list{
    font-size: 20px;
}
.searchbar{
    min-width: 570px;
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid rgb(198,198,198);
    border-radius: 40px;
    padding-left: 16px;
}
.searchbar input{
    border: none;
    height: 100%;
    width: 90%;
    padding-right: 10px;
    outline: none;
}
.searchbar:focus-within .none{
    display: flex;
    margin-right: 10px;
}
.mid{
    display: flex;
    gap:10px;
    align-items: center;
    position: relative;
    right: 140px;
}
.bi-mic-fill{
    font-size: 20px;
    padding: 10px;
    background-color: rgb(249,249,249);
    border-radius: 50%;
    cursor: pointer;
}
.bi-mic-fill:hover{
    background-color: rgb(198,198,198);
}
.search{
    background-color: rgb(248,248,248);
    border-left: 1px solid rgb(198,198,198);
    border-radius: 0px 40px 40px 0px;
    width: 11%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.search:hover{
    background-color: rgb(240, 240, 240);
}
.bi-search{
    font-size: 16px;
}
.bi-camera-video,.bi-bell{
    font-size: 20px;
}
.none{
    display: none;
}
.searchbar input::placeholder{
    font-size: 16px;
}
.user{
    display: flex;
    align-items: center;
    gap: 25px;
}
.userpic{
    border-radius: 50%;
    width: 32px;
    height: 32px;
}
.rect{
    display: flex;
    gap:20px;
    height: 40px;
    padding-left: 20px;
    align-items: center;
    width: 220px;
    border-radius: 10px;
}
.rect:hover{
    background-color: rgb(240, 240, 240);
}
.top{
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(229,229,229);
}
.content{
    display: grid;
    grid-template-columns: 250px 1fr;
    max-height: 80vh;
}
.sidebarcont{
    max-height: 90vh;
    overflow-y: scroll;
}
.sidebarcont::-webkit-scrollbar{
    width: 8px;
}
.sidebarcont.hover::-webkit-scrollbar{
    display: block;
}
.sidebarcont::-webkit-scrollbar-thumb{
    background: rgb(144,144,144);
    border-radius: 10px;
}
.rectpic{
    font-size: 20px;
}
.rect p{
    font-size: 14px;
    line-height: 20px;
    color: rgb(15,15,15);
}
.sidebar{
    padding-left: 10px;
}
.middle{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(229,229,229);
}
.short{
    width: 20px;
    height: 30px;
}
.bi-play-fill{
    font-size: 16px;
    height: 21px;
    width: 21px;
    text-align: center;
    border: 1px solid black;
}
.subs{
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.bmiddle{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(229,229,229);
}
.subsheading{
    color: rgb(15,15,15);
    font-size: 16px;
    padding-left: 20px;
    line-height: 20px;
    padding-bottom: 10px;
}
.ytkids{
    transform: rotate(350deg);
}
.bi-gear{
    font-size: 18px;
}
.bottom{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 0px;
}
.bottom a{
    text-decoration: none;
    color: rgb(98,98,98);
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
}
.bottom p{
    font-size: 13px;
    color: rgb(144,144,144);
}
.maincont{
    max-height: 90vh;
    overflow-y: auto;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: sticky;
    top: 0;
}
.menu a{
    text-decoration: none;
    padding: 10px 14px;
    background-color: rgb(242,242,242);
    color:rgb(15,15,15);
    font-size: 14px;
    letter-spacing: 0.2px;
    border-radius: 10px;
}
.menu a:nth-child(1){
    background-color: black !important;
    color: white;
}
.menu a:hover{
    background: rgb(229,229,229);
    transition: .5s;
}